.radioButton {
  position: absolute;
  left: -9999em;
  top: -9999em;
}
    
 
.radioButton + label:first-child {
  border-radius: .7em 0 0 .7em  !important;
}

.radioButton + label:last-child {
  border-radius: 0 .7em .7em 0;
}


.radioButton:checked + label {
background-color: #004986;
color: white;
font-weight: bold;
}

