@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @apply text-multi-neutrals-grey100;
}

@layer base {
  /* Font families */
  h1,
  h2 {
    @apply font-display font-semibold;
  }
  h3,
  h4,
  h5 {
    @apply font-display font-semibold;
  }
  h6 {
    @apply font-display;
  }
  p,
  li,
  button {
    @apply font-body;
  }

  /* Font sizes */
  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
  }
  h3 {
    @apply text-h3;
  }
  h4 {
    @apply text-h4;
  }
  h5,
  p {
    @apply text-p;
  }
  h6 {
    @apply text-base;
  }

  /*Focused*/
  h1:focus {
    @apply ring-1;
  }
  @screen lg {
    h1 {
      @apply text-h1l;
    }
    h2 {
      @apply text-h2l;
    }
  }

  /* Lists */
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  li {
    @apply ml-10;
    @apply text-[20px];
  }

  /* Content Element Styles */
  h1,
  h2 {
    margin-top: 48px;
    margin-bottom: 24px;
  }
  h3,
  h4,
  h5 {
    margin-top: 48px;
    margin-bottom: 16px;
  }
  p + p {
    margin-top: 2rem;
  }
  ul + p {
    margin-top: 2rem;
  }
}

@layer utilities {
  /*Default page layout*/

  .blur {
    filter: blur(1.5px);
  }

  .error404-link::before {
    display: inline-block;
    margin: 2px 5px;
    content: " ";
    border: 1px solid #000000;
    background-color: #000000;
    border-radius: 100%;
    width: 4px;
    height: 4px;
  }

  .splash-link::after {
    display: inline-block;
    margin: 2px 5px;
    content: " ";
    border: 1px solid #284162;
    background-color: #284162;
    border-radius: 100%;
    width: 5px;
    height: 5px;
  }

  .circle-background {
    border-radius: 50%;
    width: 218px;
    height: 218px;
    background-color: #eeeeee;
  }

  .border-outset {
    border-style: outset;
  }

  .icon-up-caret:before {
    content: url(../public/up-caret.svg);
  }

  .skip-main {
    @apply absolute w-px h-px -left-96;
  }

  .skip-main:focus-within {
    @apply absolute w-screen h-auto top-4 left-0 z-50 flex justify-center;
  }

  .layout-container {
    @apply mx-6;
  }

  .text-shadow-about-circles {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  @screen xxs {
    .layout-container {
      @apply mx-4;
    }
  }

  @screen xs {
    .layout-container {
      @apply px-0;
    }
  }

  @screen md {
    .layout-container {
      @apply px-0;
    }
    .textbuttonField > p {
      @apply text-p;
    }
  }

  @screen lg {
    .layout-container {
      @apply container mx-auto px-6;
    }
    .circle-background {
      width: 120px;
      height: 120px;
    }
  }

  @screen xl {
    .circle-background {
      width: 150px;
      height: 150px;
    }
  }

  @screen xxl {
    .circle-background {
      width: 218px;
      height: 218px;
    }
  }

  /* Internet explorer css */
  @media (min-width: 280px) {
    .canadaLogo {
      height: auto;
      width: 240px;
    }
  }

  @media (min-width: 768px) {
    .circle-background {
      width: 120px;
      height: 120px;
    }
  }
  @media (min-width: 992px) {
    .circle-background {
      width: 150px;
      height: 150px;
    }
    .canadaLogo {
      width: 384px;
    }
  }
  @media (min-width: 1200px) {
    .circle-background {
      width: 218px;
      height: 218px;
    }
    .canadaLogo {
      width: 50%;
    }
  }
  .bgGray {
    background-color: #f8f8f8;
  }

  .ieButton {
    background-color: #1d5b90;
    color: white;
    border-radius: 7px;
    border-color: #1d5b90;
    border-width: 1px;
  }

  .ieButton:focus {
    box-shadow: 0 0 0 1pt black;
  }
  .ieButton:hover {
    background-color: #1c578a;
  }
  .ieButton:active {
    background-color: #26374a;
  }

  .ieButtonCopied {
    background-color: #278400;
    color: white;
    border-radius: 7px;
    border-color: #278400;
    border-width: 1px;
  }

  .ieButtonCopied:hover {
    background-color: #237600;
  }

  .ieButtonCopied:active {
    background-color: #278400;
  }

  .ieTextField {
    border-width: 2px;
    border-color: #d1d5db;
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: #555;
  }
  .ieTextField:focus {
    border-color: black;
  }
  .ieLinksList {
    color: #284162;
  }
  ul.ieLinksList > li > a:focus {
    color: #0535d2;
    border-width: 2px;
    border-color: black;
  }
  ul.ieLinksList > li:hover {
    color: #0535d2;
  }
  li.browser-item:not(:last-child) {
    margin-bottom: 3px;
  }
}

.footerBackground {
  background: #26374a url(../public/landscape.png) no-repeat right bottom;
}

.svg {
  filter: brightness(0) invert(1);
}

.footer-logo {
  width: 166px;
  height: 40px;
}

.lightbulb {
  width: 96px;
  height: 140px;
}

.lightbulb-bg {
  width: 218px;
  height: 218px;
}

.splash-image {
  background-attachment: fixed;
  background-position: 50% 85%;
  background-size: 750px 450px;
}

.splash-cta {
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.splash-bg {
  background-size: 70%;
}

.card-shadow {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.footerLine::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 36px;
  height: 4px;
  background-color: #ffffff;
}

@media (max-width: 640px) {
  .splash-bg {
    background-size: 100%;
  }
}

@media (max-width: 990px) {
  .splash-image {
    background-position: 50% 75%;
    background-size: 500px 380px;
  }
}

@media (max-width: 420px) {
  .splash-image {
    background-position: bottom;
    background-size: 370px 250px;
  }
  .splash-cta {
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
  }
}

@media (max-width: 762px) {
  .footer-logo {
    width: 87px;
    height: 25px;
  }
}

@media (max-width: 1200px) {
  .lightbulb {
    width: 48px;
    height: 70px;
  }
  .lightbulb-bg {
    width: 109px;
    height: 109px;
  }
}


.help-icon {
  fill: #2b4380;
}

.exit-icon {
  fill: #333333;
}

.info {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-icon:hover {
  fill: #31708f;
}

.info:hover {
  width: 44px;
  height: 44px;
  background-color: #e5e5e5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info:hover svg {
  fill: #31708f;
}

.info:focus {
  border: 3px;
  border-style: solid;
  border-color: #0e62c9;
  background: white;
  outline: none;
}

.info:focus .help-icon {
  fill: #31708f;
}

.info:active {
  border: 1px;
  border-style: solid;
  border-color: #6f6f6f;
  outline: none;
}

.info:active .help-icon {
  fill: #31708f;
}

.modal {
  max-width: 1136px;
  color: #333333;
  padding: 40px;
  border: 1px solid #dddddd;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(71, 71, 71, 0.8);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  min-width: 290px;
}

.modal-exit {
  position: absolute;
  right: 0;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.modal-exit:focus {
  outline: none;
  background-color: #e5e5e5;
  border: 3px solid #0e62c9;
  box-shadow: inset 0 0 2px 2px white;
}

.modal-exit:hover {
  background-color: #e5e5e5;
}

.modal-exit:active {
  background-color: #cccccc;
  border: none;
  outline: none;
  box-shadow: none;
}

.modal-exit:focus .exit-icon {
  fill: #000000;
}

.modal-exit:hover .exit-icon {
  fill: #000000;
}

.modal-title {
  font-family: "Lato";
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  max-width: 80%;
  margin-right: 1rem;
}

.modal-body {
  display: flex;
  width: 95%;
  margin-top: 1rem;
}

.modal-footer {
  margin-top: 4rem;
}

@media (max-width: 850px) {
  .modal {
    padding: 20px;
  }
  .modal-close {
    width: 100%;
  }
  .modal-body {
    margin-top: 0rem;
    width: 100%;
  }
  .modal-footer {
    margin-top: 1rem;
  }
  .modal-close {
    width: 100%;
    justify-content: center;
  }
  .modal-exit {
    margin-right: 1rem;
  }
}

.btn-primary {
  @apply font-header font-normal text-multi-neutrals-white bg-multi-blue-blue70 rounded-[4px] px-[14px] py-[6px] text-btnother
}

.btn-link {
  @apply font-header font-normal text-btnother rounded-[4px] py-[6px] px-[14px]
}