@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
  /* Font families */
  h1, h2, h3, h4, h5 {
    @apply font-display font-semibold;
  }
  h6 {
    @apply font-display;
  }
  p {
    @apply font-body
  }
  /* Font sizes */
  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
  }
  h3 {
    @apply text-h3;
  }
  h4 {
    @apply text-h4;
  }
  h5, p {
    @apply text-p;
  }
  h6 {
    @apply text-base;
  }
}

@layer utilities {
  /*Default page layout*/
  @screen xxs {
    .layout-container {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
  
  @screen xs {
    .layout-container {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  @screen lg {
    .layout-container {
      max-width: theme("screens.lg");
      margin-left: auto;
      margin-right: auto;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  @screen xl {
    .layout-container {
      max-width: theme("screens.xl");
    }
  }

  @screen xxl {
    .layout-container {
      max-width: theme("screens.xxl");
    }
  }
}