@tailwind screens;

.menuDropdown {
  display: none;
  background-color: white;
}

.menuLink:hover {
  color: #0a75c6;
}

.activePage {
  border-bottom: 4px solid #1d5b90;
}

.activePage:hover {
  color: #0a75c6;
  border-bottom: 4px solid #0a75c6;
}

.active {
  display: block;
}

@screen lg {
  #menuButton,
  #closeMenu {
    display: none;
  }

  .menuDropdown {
    background: white;
    display: inline-block;
    position: static;
    min-width: fit-content;
    min-height: fit-content;
    padding-bottom: 1rem;
  }

  .menuDropdown > li {
    display: inline-block;
    padding-left: 2rem;
  }
}

/* Top Nav Menu */
.fade-in {
  animation: fade-in 0.3s;
}

.fade-out {
  animation: fade-out 0.3s;
}

.expand-margin {
  animation: expand-margin 0.3s;
}

.decrease-margin {
  animation: decrease-margin 0.3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes expand-margin {
  from {
    margin-top: 0;
    margin-bottom: 0;
  }
  to {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@keyframes decrease-margin {
  from {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  to {
    margin-top: 0;
    margin-bottom: 0;
  }
}
