@tailwind screens;

.menuDropdown {
    display: none;
    background-color: white;
}

.menuLink:hover {
    color: #0A75C6;
}

.activePage {
    border-bottom: 4px solid #1d5b90;
}

.activePage:hover{
    color: #0A75C6;
    border-bottom: 4px solid #0A75C6;
}

.active {
    display: block;
}

@screen lg {
    #menuButton, #closeMenu {
        display: none;
    }

    .menuDropdown {
        background: white;
        display: inline-block;
        position: static;
        min-width: fit-content;
        min-height: fit-content;
        padding-bottom: 1rem;
    }

    .menuDropdown > li{
        display: inline-block;
        padding-left: 2rem;
    }
}
  