@tailwind utilities;
@tailwind screens;

.menuDropdown {
    display: none;
    background-color: white;
}

.menuDropdown > ul > li:hover > a {
    border-bottom: 4px solid #1d5b90;
}

.active {
    display: block;
}

@screen lg {
    #menuButtonDiv, #closeMenu {
        display: none;
    }

    .menuDropdown {
        background: white;
        display: inline-block;
        position: static;
        min-width: fit-content;
        min-height: fit-content;
        padding-bottom: 1rem;
    }

    .menuDropdown > ul > li{
        display: inline-block;
        padding-left: 2rem;
    }
}
  